<form class="search-form search" action="<%=url('static/articles.html')%>">
    <div class="form-group">
        <input name="search" type="text" class="form-control" placeholder="<%=text('Search')%>">
    </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span><%=text('Submit')%></button>
</form>
